[2019-07-16 03:56] salilmishra23 opened #7 "Can't hear any sound on laptop and mobile"
Thanks for launching the radio but I'm unable to hear anything. I tried on Chrome(Version 75.0.3770.100 (Official Build) (64-bit)), Firefox 68.0 (64-bit) and on Andriod mobile running latest Chrome and Brave browsers.

[2019-07-20 00:35] AskMP commented on #7
Please, and ignore my ignorance, can you confirm you're pushing play? Chrome and especially mobile require a user interaction to play audio automatically. If you just load the page, it won't play.

[2019-07-23 17:52] raisedadead commented on #7
Just throwing this here, because it stuck me after reading your comment:

The progress animation for the radio could be misleading as the music playing, when it's actually not.

So, it makes sense to turn on the progress bar only when the play button is pressed.

[2019-07-25 07:11] raisedadead opened #13 "Song history and playlist"
From @Greenheart with feedback as https://github.com/freeCodeCamp/coderadio-client/pull/8

Awesome work with the new radio! It's got much better performance than YouTube.

Thought this feature was missing so I added a simple version :)

One known issue is that the song history won't update immediately after a song completes, but regularly every 20 seconds. This cause a slight delay when songs are

[2019-07-25 07:43] salilmishra23 commented on #7
Thanks, it's working now.

[2019-07-25 07:55] raisedadead commented on #7
Thanks for the update. Let us know if you face this again.

[2019-07-25 07:55] #7 closed

[2019-07-25 11:41] ahmadabdolsaheb opened #14 "Desktop does not show relays in the dropdown"
comparing the stream list from the embed dropdown and the desktop drop down illustrates the issue.

[2019-07-25 12:17] AskMP commented on #14
This is an easy fix. I should be able to add that fairly quickly.

[2019-07-25 12:26] AskMP commented on #14
PR submitted. /fcc to see demo

[2019-07-25 13:04] ahmadabdolsaheb commented on #14
Thanks

[2019-07-25 13:04] #14 closed

[2019-07-25 13:10] AskMP opened #16 "Mobile / Desktop Hybrid"
We should remove the fact that there is a different delivery for Desktop and Mobile. The player _should_ work for mobile devices without requiring the embedded code of the iframe however I don't have enough devices to test this myself.

[2019-07-25 13:16] AskMP opened #17 "fCC Credentials for added functionality"
Similar to how nightbot was able to be used for public curation and song preference of the audience (VERY interesting to see how impact full that actually was) it would be good to add this. The issue comes in with how we implement it for non-spamming. I think an "if you're logged into fCC, you have additional functionality" would likely be the best case.

Previously, nightbot sent me the UID of th

[2019-07-25 13:17] AskMP opened #18 "Localstorage for personal preferences"
Adding the page configuration and removal of the CTA after first viewing would be good to have. If you've selected the lower (or higher) bitrates manually or when we add localization, it should keep those preferences upon revisiting the page.

[2019-07-25 13:18] AskMP opened #19 "Localization"
There isn't much in the way of text and I'm not suggesting we change all the song names and data but there is content on the page that we can convert into a variety of languages. Small but easy to achieve.

[2019-07-25 13:20] AskMP opened #20 "Better accessibility"
While yes, the site is "technically" keyboard controllable, it would be a good idea to implement proper accessibility for users when the hit the page. I'm not an expert at this but I may know some people who can assist in making recommendations as it's a fairly unique use case.

[2019-07-25 13:21] AskMP opened #21 "Additional visualizers"
This one is a little more long term however I would like to open up the option that I originally had where people could submit their own visualizer code and it could be added. We could have them credited and available by a dropdown list.

[2019-07-25 20:22] ahmadabdolsaheb opened #22 "Default stream set to relays"
because of the default limitations with the default streams on the NGINX, users should be directed to relay streams when possible

[2019-07-29 13:10] ahmadabdolsaheb opened #26 "Some duration metadata are missing for some songs."
some songs does not have proper duration causing the status bar to display time incorrectly

![image](https://user-images.githubusercontent.com/4591597/62051046-33892d80-b21b-11e9-8fe4-1efc9c5d960b.png)

[2019-07-29 15:21] ahmadabdolsaheb opened #27 "Stop making API calls on Pause"

[2019-08-05 09:04] ahmadabdolsaheb opened #28 "Animation does not appear on firefox"
<img width="1226" alt="Screen Shot 2019-08-05 at 12 03 08 PM" src="https://user-images.githubusercontent.com/4591597/62452570-2919e700-b779-11e9-84d1-466e6cc6617d.png">

[2019-08-06 06:20] ahmadabdolsaheb opened #38 "automatic stream switching"
With the new azuracast updates, relays have bitrate/format, unique identifiers, and per-stream listener counts.

the main strategy would be to directing listeners towards the relays.

here is the suggested logic

if relays exist choose a fast relays with least listeners.
if relays exist and speed is low, choose a low bitrate relay with least listeners.

if no relays choose fast non-relay
if relays

[2019-08-06 09:37] usersaurus commented on #7
I'm getting this problem too. Google Chrome on Ubuntu 19.04

[2019-08-06 15:26] ahmadabdolsaheb commented on #7
@usersaurus, thanks for reporting this issue.
We are working on stability as we speak and we resolved a couple of issues that prevented listeners from tuning in.

I was wondering if you are still experiencing this problem.
If yes, could you try switching the stream on the top left side of the desktop view to an option with (relay 1) at the end and clicking on play button.

[2019-08-06 18:34] usersaurus commented on #7
It's working flawlessly now :D Thank you so much.

[2019-08-07 20:50] ahmadabdolsaheb opened #29 "make App.js more modular"
Move anything that we can into its own component from the App.js

[2019-08-07 20:52] ahmadabdolsaheb opened #30 "Add Unit tests"

[2019-08-07 20:53] #22 closed

[2019-08-07 20:55] ahmadabdolsaheb commented on #16
I believe this is taken care of in the react version.

[2019-08-07 20:55] #16 closed

[2019-08-07 21:00] ahmadabdolsaheb commented on #28
most likely we are dealing with vendor prefixes here but needs investigation.

[2019-08-08 05:17] huyenltnguyen commented on #28
I'm not sure, but I think this is because the `fastConnection` state is being computed using `navigation.connection` (https://github.com/freeCodeCamp/coderadio-client/blob/master/src/components/App.js#L19), and the property is currently [not supported by Firefox](https://caniuse.com/#feat=netinfo)?

[2019-08-08 07:36] ahmadabdolsaheb commented on #28
@huyenltnguyen thanks for looking into this issue.
I ideally we want to find a reliable way to check for the speed and serve content accordingly.
Would you be interested in working on this issue?

[2019-08-09 00:58] huyenltnguyen commented on #28
@ahmadabdolsaheb Sure, I'll give this a look 😄

I'll dig into the web API, see if there is one that we could use cross-browser. But what do you think if we use this package: https://www.npmjs.com/package/speedtest-net?

[2019-08-09 09:46] ahmadabdolsaheb commented on #28
@huyenltnguyen Awesome. yeah as long as it is maintained regularly, it is light weight and does not affect our lighthouse performance score negatively.

[2019-08-09 11:07] xyozio opened #31 "Play button CTA is a bit misleading"
When you enter the page the CTA says "Push Play or Space Bar to Start Music".

The problem is that if the user didn't click the page, the event listener won't fire. So pressing the space bar doesn't work initially.

Maybe the CTA can be changes to "Push Play to Start Music'?

[2019-08-09 20:41] vkWeb commented on #31
I think the music should be turned on by default. What do you think @xyozio?

[2019-08-10 08:47] xyozio commented on #31
I think that it used to auto play and in 035e270 the behavior was changed.

We have to ask @AskMP what he thinks about it.

[2019-08-11 11:46] xyozio opened #32 "Navigation links to open in new tab"
IMO the navigation links should open a new tab instead of stopping the music. WDYT?

[2019-08-11 18:59] huyenltnguyen commented on #28
@ahmadabdolsaheb Hmm, this is more challenging than I thought.

I've tried out the [speedtest-net](https://www.npmjs.com/package/speedtest-net) package I mentioned above, but unfortunately it doesn't support client-side speed test (https://github.com/ddsol/speedtest.net/issues/66#issuecomment-427382088).

I've also tried using the [network-speed](https://www.npmjs.com/package/network-speed) packag

[2019-08-12 07:20] huyenltnguyen commented on #32
Yeah I agree. Making the links open in a new tab would also help keep the consistency across fCC apps.

[2019-08-12 18:38] xyozio opened #35 "Remove unused files"
Now after the app was "reactified", can we remove some unused files?

I would like to remove the following ones:

- codeRadio-desktop.js
- codeRadio-mobile.js
- codeRadio.js
- interface.css
- player.js
- visualizer.js

Please let me know if I can open a PR.

[2019-08-13 08:49] huyenltnguyen commented on #27
I'm going to take a look at this.

[2019-08-14 08:43] ahmadabdolsaheb commented on #35
yes we can, and please do, @xyozio   :)

[2019-08-14 08:52] ahmadabdolsaheb commented on #28
Thank you for doing the research, @huyenltnguyen.

let's do this:

if mobile-> no animation or office background

if desktop -> yes office background
also:
- if connection.downlink exist and fast speed = yes anim
-  else no anim

[2019-08-14 09:09] #27 closed

[2019-08-14 09:32] #32 closed

[2019-08-15 08:10] #35 closed

[2019-08-17 17:58] ahmadabdolsaheb opened #41 "switch to Live Websocket/EventSource"
we are currently using  Static Now Playing JSON File to get the mount. we should switch to Live Websocket/EventSource

https://www.azuracast.com/developers/nowplaying.html#standard-now-playing-api

here is a sample:
[code]

we should work with the message
more detail on https://github.com/slact/nchan.js/blob/master/NchanSubscriber.js

[2019-08-18 22:12] #41 closed

[2019-08-19 04:05] #28 closed

[2019-08-24 12:05] ahmadabdolsaheb opened #45 "Can't find variable: AudioContext error crashes coderadio on safari"
AudioContext is not supported in all browsers. The might be the reason for the crash.

![image](https://user-images.githubusercontent.com/4591597/63636888-2c203d00-c67e-11e9-86e5-e45c1a580b5e.png)

[2019-08-25 21:13] #45 closed

[2019-08-26 03:20] huyenltnguyen commented on #38
I'll grab this one

[2019-08-27 18:51] xyozio commented on #7
@ahmadabdolsaheb Should we unpin this one?

[2019-08-27 18:52] xyozio commented on #31
I think that with the minimal UI that we have right now it's not very difficult to miss the play button.

IMO the call to action can be removed. @huyenltnguyen WDYT?

[2019-09-11 18:39] xyozio commented on #31
@ahmadabdolsaheb Can we remove the CTA? I don't think it's really adding any value and it's overlapping the keyboard controls modal.

[2019-09-11 18:40] xyozio commented on #19
@AskMP I don't think it's worth to implement localization for such content poor app.

@ahmadabdolsaheb Can we close this one?

[2019-09-11 18:43] xyozio commented on #26
@ahmadabdolsaheb I don't have access to the back end but please let me know if I can be of any help.

[2019-09-11 18:45] xyozio commented on #30
I think that #29 should be a prerequisite for this issue. It would be much more convenient to write tests for smaller components.

[2019-09-11 18:46] AskMP commented on #19
@xyozio, with such a low hanging fruit as localization for content, I don't see why that wouldn't be something to implement. The original goal for this whole code radio web portal (at least when I originally built it) was to provide a good means for somebody to see the native JavaScript code and how easy things like an audio player seem to be completely forgotten now anyway, so sure. Having a loca

[2019-09-11 18:46] #19 closed

[2019-09-18 07:30] ahmadabdolsaheb commented on #38
@huyenltnguyen how is your progress on this issue? please let u know if you need any clarification or assistance to arrive at a solution.

[2019-09-19 07:32] huyenltnguyen commented on #38
@ahmadabdolsaheb Oh, sorry. Life got in the way before I had a chance to look into this. Is the task urgent? I think I can work on it this weekend.

So sorry, I should have kept you posted.

[2019-09-26 09:03] ahmadabdolsaheb commented on #38
It is not urgent, but it could really improve the user experience.

[2019-09-28 16:22] huyenltnguyen commented on #38
@ahmadabdolsaheb I lied. I wasn't able to work on this last week 😕

Anyway, I raised a draft PR for the issue. In the PR, I've updated the stream sorting logic to include number of listeners as one of the sort criteria. However, I'm going to need some help with the error handling. My questions are:
- How to reproduce the errors?
- Where is the right place in the code to catch an error? I'm guessin

[2019-10-03 08:04] ahmadabdolsaheb commented on #38
Thank you for helping with finding a solution for this issue.
Please refer to our gitter discussion regarding error handling.

[2019-12-09 14:51] marcosnils commented on #31
https://github.com/freeCodeCamp/coderadio-client/pull/58 > this allows not to click on the window to press the space bar.

[2020-01-01 18:35] kerolloz opened #60 "links to google plus in `link` tags"
https://github.com/freeCodeCamp/coderadio-client/blob/bffb43fa9774655dd60d1e29448a8b0859eabbd6/public/index.html#L34-L35

As you know google has abandoned google plus project. So these links doesn't work anymore and are not necessary. Should be removed or replaced!

[2020-01-03 12:53] #60 closed

[2020-01-09 08:12] ahmadabdolsaheb opened #64 "replace addEventListener with react-hotkeys"
ref #58

[2020-01-09 08:14] ahmadabdolsaheb commented on #31
closed by #58

[2020-01-09 08:14] #31 closed

[2020-01-10 08:20] bvi1994 commented on #13
I can work on creating a Song History component! :)

[2020-01-14 18:34] bvi1994 commented on #13
Hi everyone,

I'm wondering if I can get repo right to push my branch so I can raise a PR for this feature. :)

[2020-01-14 18:53] Greenheart commented on #13
Hey Brandon!

Awesome you worked on this feature!

You can fork the repo to your own GitHub account and then push your branch
there. Then you can submit the PR even without write access directly to
this repo.

Have a nice day!

On Tue, Jan 14, 2020, 19:34 Brandon Vi <notifications@github.com> wrote:

[2020-01-14 22:31] bvi1994 opened #67 "Current song's album not being displayed and being cut off of at the bottom."
Hi everyone,

I noticed for the current song, the artwork for the album is not being displayed. Also, I noticed that the image is cut off at the bottom.

I think this would be a good first issue for newcomers to fix up! :)

Here's the problem for Desktop:

![image](https://user-images.githubusercontent.com/9060271/72388361-8deb4d00-36da-11ea-839f-4a44628b42fe.png)

[2020-01-15 12:55] ahmadabdolsaheb commented on #67
Thanks for bringing this to our attention. I don't seem to be able to reproduce this.
Could you please add your operating system and browser versions?

[2020-01-16 21:02] bvi1994 commented on #67
The OS is through Windows 10 on Firefox 72.0.1 (64-bit)

[2020-03-13 06:43] #64 closed

[2020-03-29 23:38] b3u opened #71 "[a11y] play button not recognized as button"
Because the play/pause button is a `<div>` and not a `<button>`, screen-readers don't recognize it as interactive. There are two options that I see: Either change the div tag to a button tag, or use the `role` attribute (as in `role="button"`).
Once we're dealing with the play button, I noticed that there is no text associated with the button. Maybe we should put an `aria-label`, and/or an `aria-c

[2020-03-29 23:38] b3u commented on #71
I can tackle this, if you want me to...

[2020-03-30 08:20] huyenltnguyen commented on #71
@b3u Thanks for reporting the issue 👍 Feel free to tackle it if you are interested.

For the solution, I don't think there is a reason for the button to be a `<div>`, so I think changing it to `<button>` should be fine. My approach would be similar to yours, but I would use `aria-pressed` in place of `aria-checked` since it seems to be associated with button more (https://developer.mozilla.org/en-

[2020-03-30 15:46] b3u commented on #71
I would be happy to tackle this. I realized that when the button changes state, it becomes a button with a different purpose. I think I will change the `aria-label` to play/pause, instead of `aria-pressed`. How does that sound. Fyi, I will need to change some styles for the button.

[2020-03-30 16:45] huyenltnguyen commented on #71
@b3u Oh yeah, I just tried toggling the button and checking the DOM. The SVGs and their `title` change when the user toggles the button, so `aria-label` should be changed here to reflect the switch.

Anyway, have fun with it. Let me know if I could be of any help :)

[2020-04-01 20:49] b3u commented on #71
@huyenltnguyen I'm having trouble with my screen reader. I think it's best if you work on this, since I can't test it well enough anyways.

[2020-04-01 20:52] b3u commented on #18
Maybe use FCC login (#17) instead of localStorage. If a user switches browsers on the same machine, functionality should ideally be the same.

[2020-04-01 20:55] b3u commented on #67
I can confirm on Ubuntu (Elementary OS) chrome 80

[2020-04-05 07:10] ahmadabdolsaheb commented on #67
Thanks for confirming that @b3u.

[2020-04-12 13:04] #38 closed

[2020-05-06 15:58] #71 closed

[2020-05-08 14:06] huyenltnguyen opened #74 "The page shifts upward when navigating using the Tab key"
I can only reproduce this on Chrome

#### Steps to reproduce
- Use Chrome and go to https://coderadio.freecodecamp.org/
- Without clicking anything, press the Tab key

#### Actual result
The page moves up a bit.

[2020-05-29 04:37] #74 closed

[2020-06-16 15:22] huyenltnguyen opened #76 "The app is stuck in an infinite loop when audio streams are unavailable"
I blocked all of the FCC audio URLs by accident, and realized that I made a stupid mistake in the error handling function in PR https://github.com/freeCodeCamp/coderadio-client/pull/50, which causes the app to be stuck in the infinite loop 😰

![code-radio](https://user-images.githubusercontent.com/25715018/84793428-436e5380-b01f-11ea-9dfe-0cf882fdf00f.gif)

To reproduce:
- Install the Private Badg

[2020-06-20 11:15] #76 closed

[2020-06-24 19:01] heinrich-S opened #79 "Certificate of coderadio-relay.freecodecamp.org outdated"
The Let's Encrypt Certificate of **coderadio-relay.freecodecamp.org** is outdated since June 11th. Because it's loaded ansyc, the browser won't show an error message to the user.

[2020-06-25 11:19] ahmadabdolsaheb opened #80 "Music stops after after listening for an extended period of time"
Although music stops after after listening for an extended period of time, it is restored after switching between the streams.
Have you ran across such problem? @huyenltnguyen

[2020-06-25 16:44] huyenltnguyen commented on #80
@ahmadabdolsaheb Hmm. Could you provide the steps to reproduce?

If I understand the issue correctly, the expected behavior is when the music stops after a period of time, switching stream should not start it?

[2020-06-26 06:34] ahmadabdolsaheb commented on #80
I cannot reproduce it myself since it does not happen consistently.
It could be that the browser drops the stream due to having a large load. still not sure.

The music restarts when the stream is switched.

[2020-06-28 17:50] huyenltnguyen commented on #80
I think this did happen to me, maybe a few weeks ago, but I didn't pay much attention to it, because it happens with other radio streams that I usually listen as well. Furthermore, I'm using tons of blockers in my browser, so when something is not working, I always assume it's on my end :sweat_smile:

I'll see if I can reproduce and do some investigation.

[2020-06-29 06:08] ahmadabdolsaheb commented on #80
Thanks, for looking into it.

[2020-06-30 10:35] ManasMahanand opened #81 "Play button does not work when user does not interact with browser before music starts playing"
![image](https://user-images.githubusercontent.com/41644157/86116388-fbedca00-baea-11ea-9f27-9fea777e29af.png)

What this means is that for a user who opens the app, the music will not be audible even if it shows as playing. And when user clicks on pause and play again, the music still isn't audible.

The only thing the user can do is to immediately click on the page when the app is loading or bef

[2020-06-30 10:45] ManasMahanand commented on #81
If this is a worthy issue to solve, I would like to make the changes my self. I just want to know if there are any guidelines freecodecamp sets to follow?

[2020-07-05 08:37] ahmadabdolsaheb commented on #79
it should work now.

[2020-07-05 08:38] #79 closed

[2020-07-05 09:03] ahmadabdolsaheb commented on #81
I could not replicate this issue. However I see that we are trying to play the music on component did mount with getNowPlaying.
https://github.com/freeCodeCamp/coderadio-client/blob/0d6335ba62b41d7abceb2e187e5714f2bf960f02/src/components/App.js#L93

Playing the music should probably await user interaction.

I believe we experienced a similar issue before.

Any preference on how we should proceed,

[2020-07-06 06:08] huyenltnguyen commented on #81
@ahmadabdolsaheb The `getNowPlaying` is just to receive data from websocket. We play the music by listening to the hotkey press and the button click events, so unless the user interacts with the page, the music should not start. Having this error in the first place is kind of strange.

I have a feeling that this has to do with the error handling function, as I'm seeing the certificate error in OP'

[2020-07-06 11:47] ahmadabdolsaheb commented on #81
Thanks, for the explanation, @huyenltnguyen.
@ManasMahanand, could you double check if the issue still persists?

[2020-07-06 16:16] ManasMahanand commented on #81
This issue has been solved as far as I can see.

This is what is seen when the browser loads now:
![image](https://user-images.githubusercontent.com/41644157/86615374-00761f00-bfd2-11ea-9193-f79fa417f651.png)

So user has to press play to start music:
![image](https://user-images.githubusercontent.com/41644157/86615321-ef2d1280-bfd1-11ea-8616-ab8f0c5dbc7c.png)

This issue does not seem to persist.

[2020-07-06 16:16] #81 closed

[2020-09-25 19:03] huyenltnguyen commented on #80
Hey @ahmadabdolsaheb, I know it's been a while, but I just had some time to be able to investigate this issue more intensively. I can only guess why it happens, but I'm not sure what the root cause is nor how to fix it.

It seemed to me at first the music stopped because the connection was lost and the app could not reconnect. My initial attempt was just to listen to the `disconnect` event and add

[2020-09-28 10:57] ahmadabdolsaheb commented on #80
Thanks for looking into it @huyenltnguyen.

We should display a flash message when the radio goes offline and re-establish connection and play when user gets connected. (we have a logic that we could incorporate here from the learn repo)

Also, I noticed that music stops eventually when I pause the music, and replay with the following error.

Failed to load resource: net::ERR_INCOMPLETE_CHUNKED_EN

[2020-10-06 14:12] ashwoodall commented on #29
I'd like to tackle this if it isn't already spoken for.

[2020-10-07 09:40] ahmadabdolsaheb commented on #29
@ashwoodall thank you for your interest. I would appreciate it if you could take a look into the app.js and see if there is anything that we could turn into a component of its own. If you could not find anything, let us know so we could close this issue accordingly.

[2020-11-04 10:02] ahmadabdolsaheb commented on #80
https://stackoverflow.com/questions/27258169/how-can-i-stop-and-resume-a-live-audio-stream-in-html5-instead-of-just-pausing-i

This is a good lead for stopping and resuming the stream instead of simple play and pause.

[2020-11-10 09:45] ahmadabdolsaheb commented on #80
I suspect some browsers might throttle background tabs if the browser/RAM is under heavy load. Previously I have experienced coderadio stoping in the background when I have many tabs open or when my RAM is under load.

Switching to the coderadio tab seems to resolve the issue.

[2020-11-18 12:47] huyenltnguyen commented on #80
I have tried:
- Opening coderadio in a separate window and keep it the only open tab there, then do other things in another tab
- Opening coderadio in the same window I'm working in, but keep it as an inactive tab

My experience has been a bit different. In both cases, the radio stops after about an hour. Switching to the tab or toggling play/pause won't make the audio load, but only when I manual

[2020-11-23 07:02] ahmadabdolsaheb commented on #80
Hmm, that is interesting. Thanks for looking into it. Would you be able to listen to it for extended periods if it is on the front tab?

[2020-11-23 11:56] ahmadabdolsaheb opened #93 "package coderadio core to be used by learn, news, and forum"
The plan is to integrate coderadio in the navigation across platforms so it is easily accessible to users.

To accomplish that we would need to package the core functionality(player, html audio element, nchan subscriber, stream switching logic, etc.) in an npm module that could be shared across our platforms.

Note: the news theme and the main learn repository can install npm modules, but we would

[2020-11-23 12:07] ahmadabdolsaheb commented on #93
Thanks to @Sky020, here are some of the suggestion:

With regards to CodeRadio, I am thinking two things:

What I am thinking for 1 is:
`function CodeRadio(playPauseEle: HTMLElement, volumeEle: HTMLElement, trackSelector: HTMLElement) {
  // General logic to interact with elements
}`

Or, something simpler on my end:
`function CodeRadio(play: boolean, volume: number, track: number): MediaStream {

[2020-11-23 12:09] ahmadabdolsaheb commented on #93
We could use babel on the coderadio core module since the forum theme would not be compelling it to es5.

[2020-11-23 12:10] ahmadabdolsaheb commented on #93
@huyenltnguyen @ojeytonwilliams thoughts?

[2020-11-23 13:35] Sky020 commented on #93
Am I correct in assuming we want to take a fixed (current) version of `nchan`? Such that, it might be beneficial to just copy the [NchanSubscriber.js](https://github.com/slact/nchan.js/blob/master/NchanSubscriber.js) file into the package - circumvent npm deps.

[2020-11-23 14:04] ojeytonwilliams commented on #93
I think I'm missing a bit of context for the `CodeRadio` signatures.  How're you currently planning on linking up the core logic to both the DOM and to React?

If we need a specific version of a package, we can just specify that in the `package.json`, rather than copying and pasting.

[2020-11-28 20:25] huyenltnguyen commented on #93
Ah, interesting topic!

I don't have a strong opinion on the approach since I have been way out of the loop on how the main apps are running. I'm just going to throw in some ideas for consideration, but I'm unsure whether or not these are feasible.

I think we could also consider converting the app to functional component, make the functions reusable hooks and export them. That approach will give

[2020-11-30 05:43] QuincyLarson commented on #80
@ahmadabdolsaheb Fixing this is our top priority for Code Radio. We shouldn't attempt to roll out the navbar Code Radio button until we've fixed this.

[2020-12-02 00:42] nhcarrigan commented on #80
Hey folks,

I've pulled this down locally and will also be taking a look to see if we can identify the cause. I'm starting with an attempt to leverage the `NchanSubscriber`'s built-in event handling to catch any messages and errors that the client might be missing. If I'm able to reproduce the issue and see any extra information, I'll share it here. 🙂

[2020-12-02 08:16] ahmadabdolsaheb commented on #80
Thanks @nhcarrigan for taking a look. It seems like the websocket method is a bit buggy. We might end up using the .json format to send data to the client.

[2020-12-02 09:03] ahmadabdolsaheb commented on #93
@Sky020, we could install nchan to our coderadio module as a dependency. That way we would be able to document the version and update accoringly.

@huyenltnguyen, turning the main client app into a functional react app is a great idea. We could still go in that direction. But we would need to extract the core logic and package it so it could be used across platforms.

Since it will be used in news

[2020-12-02 14:44] huyenltnguyen commented on #80
@ahmadabdolsaheb Stupid question, but is the .json format equivalent to going straight to the URL (like this https://coderadio-admin.freecodecamp.org/radio/8010/radio.mp3?1606912952)? I get the same experience when I go to the URL and listen. The music stops after around 30 - 40 mins of listening.

Also, I just noticed this warning in the console, which is new to me as I didn't see it before. It e

[2020-12-02 14:49] nhcarrigan commented on #80
IMHO, this is not always going to be the case, at least with the /learn platform.

Users might switch to a different tab to work on their projects, or read documentation on a concept, or experiment with something they've learned. I'd be worried that 30 minutes is not very long to be away from the learn page.

[2020-12-02 14:51] nhcarrigan commented on #80
This suggests to me that it might be a server-side configuration rather than a client-side issue? 🤔

[2020-12-02 17:57] ojeytonwilliams commented on #80
I've not seen that one.  Do you know some steps to reproduce it?

Quite possibly. One way we might be able check that is by reporting an error if

[code]
fires, but the `playing` state is true.

[2020-12-02 20:30] huyenltnguyen commented on #80
Oh sorry, the "Cannot play media" warning might just be a false alarm. I think I forgot to disable some aggressive privacy add-ons.

[2020-12-02 23:11] nhcarrigan commented on #80
![image](https://user-images.githubusercontent.com/63889819/100942672-a3af5f80-34b0-11eb-9aed-5ae5c32c1f95.png)

@huyenltnguyen I received this same error today on a clean installation of Firefox Developer.

[2020-12-03 16:58] nhcarrigan commented on #80
![image](https://user-images.githubusercontent.com/63889819/101061484-6943d200-3545-11eb-962a-15d980fde624.png)

Alright I finally got an actual error out of this - I'm not 100% sure this is specifically related to our bug, but it'll give me a place to start.

@ojeytonwilliams Sentry also successfully caught this error, which is good:
![image](https://user-images.githubusercontent.com/63889819/101

[2020-12-04 20:26] nhcarrigan opened #97 "Android Play Button Error"
This error appears to be specific to Android devices:

`NotAllowedError: play() failed because the user didn't interact with the document first. https://goo.gl/xX8pDD`

I am able to reproduce this on my Android phone by attempting to click the play button when the page loads. If I click elsewhere in the page first, the error does not occur. I'll dive in and try to determine the source of this, but

[2020-12-06 06:46] ahmadabdolsaheb commented on #80
Interesting observation.

I could not find that particular code "1606912952", but basically the now playing [get api](https://coderadio-admin.freecodecamp.org/api/nowplaying), the [static json](https://coderadio-admin.freecodecamp.org/api/nowplaying_static/coderadio.json), and the web-socket should be serving similar data as mentioned in the [docs](https://www.azuracast.com/developers/nowplaying.h

[2020-12-06 06:50] ahmadabdolsaheb commented on #93
Since we are planning to ship coderadio for the holidays, we should link to our coderadio client (open new tab) from /learn navigation for now.

That way any performance issues would not negatively affect the learn platform.

We could refocus on packaging once coderadio is stable.

[2020-12-07 17:40] nhcarrigan commented on #80
![image](https://user-images.githubusercontent.com/63889819/101384724-aa9eef00-386f-11eb-8932-af5c4a0dbfbd.png)

Sentry caught this one a few times, and I'm thinking this might be the source of the issue. There's no stack trace here, but if the Nchan Subscriber is receiving a broken/invalid URL for the audio source that would cause the playback to stop (and explain the intermittent nature of this

[2020-12-07 18:38] Sky020 commented on #80
I am wondering if this has anything to do with the `ref`, and the way this sets the `player` to the `audio` src:
[code]
When I used a barebones (React-less) version of this, I forewent this use of `ref`, and never came across the issue of the music stopping.

[2020-12-08 16:58] ahmadabdolsaheb commented on #80
It seems that I mentioned the default player but forgot to link it. here it is: https://coderadio-admin.freecodecamp.org/public/coderadio

We could listen to this and see we experience the same issue.

[2020-12-09 08:19] ahmadabdolsaheb opened #100 "Update logo and favicon"

[2020-12-09 09:58] ahmadabdolsaheb opened #101 "relay certification expires twice a year."
The relay certification expires and requires manual update from the vm:
`./docker.sh update-self
./docker.sh update
`

This should be automated

[2020-12-09 12:42] ojeytonwilliams commented on #101
Isn't it using Let's Encrypt?  Renewal should be automatic.

[2020-12-11 05:07] #100 closed

[2020-12-11 07:14] ahmadabdolsaheb opened #105 "Make background image responsive"
The background and the Saron animation are fixed and do not change size based on viewport, so smaller screens see only a portion of the image and large fullhd + screen will see the image stock to a corner.

The optimal solution would be to show as much of the image as possible. For example:
If the screen is very tall, the height of the image should be set to the height of the screen and
if the scr

[2020-12-11 07:29] #97 closed

[2020-12-11 10:07] Ismailtlem commented on #105
I will work on this

[2020-12-14 10:25] huyenltnguyen commented on #80
Another possible cause of the issue is memory leak.

I captured this today. The audio was playing at the time I took the first snapshot, and the second snapshot was when the music stopped. (The music probably stopped way before I took the second one, as I wasn't wearing headphones the entire time)

<img width="185" alt="Screen Shot 2020-12-14 at 16 27 10" src="https://user-images.githubusercontent

[2020-12-14 17:21] nhcarrigan commented on #80
Thanks for the insight @huyenltnguyen~! This is very helpful - I've not yet been able to reproduce locally, so I'm very glad to have a new direction to start looking. 🙂

[2020-12-15 15:33] ahmadabdolsaheb commented on #101
Yes, there seems to have been an issue with nginx-proxy setup.
It should be working now. I will close this issue now thanks.

[2020-12-15 15:33] #101 closed

[2020-12-16 19:52] nhcarrigan commented on #80
![image](https://user-images.githubusercontent.com/63889819/102399052-f3078c80-3f94-11eb-8d58-91efc0f697c7.png)

I'm not able to reproduce the memory issue either, which may be why I can't replicate the audio stoppage. Looking at the stack overflow post, maybe a viable approach would be to reset the `src` attribute every hour or so?

[2020-12-17 18:43] ahmadabdolsaheb commented on #80
Thanks for investigating this issue further. This issue might be related to the buffer, but it seems like we are not getting the mentioned error message.

I got in touch with the Azuracast community and I will let you know as I hear back from them. Meanwhile, we could put together pr that adds a nav item to learn that opens coderadio in a new tab.   The title should be "Radio" and the order should

[2020-12-17 18:44] nhcarrigan commented on #80
I can go ahead and start this. 🙂

[2020-12-18 09:14] ahmadabdolsaheb commented on #80
@huyenltnguyen, Azuracast maintainers seems to believe it is a browser optimization issue not an upstream one.
I know you have spend a lot of time on this. If you are available, I would encourage you dig a bit deeper to isolate the issue, and compare our implementation to azuacast's to see if there are rooms for improvements.

[2020-12-18 09:16] ahmadabdolsaheb commented on #105
Hi @Ismailtlem, i was wondering how your progress is going with the fix, and if you need help with it.

[2020-12-18 21:49] Ismailtlem commented on #105
Hi,

Sorry for my late answer.
On the App.css code, I think that the 2 css rules responsible for the background image are those ones :

.animation {
  background-image: url("https://cdn-media-1.freecodecamp.org/code-radio/bg.jpg");
  background-position: left bottom;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: calc(100% - 158px);
}

.animation.saron::before {
  c

[2020-12-21 07:31] ahmadabdolsaheb commented on #105
feel free to change the elements as well. You might be able to create individual image elements and stack them on the top of one another so you could adjust their size independently.

[2020-12-22 22:02] Ismailtlem commented on #105
Hi,

Maybe this rule can be removed :

@media (max-width: 500px) {
  #visualizer {
    background-color: #002ead;
    top: 238px;
  }
}
It displays a blue background for width < 500 px

I think that adding background-size: 100% to the rule :

#container {
  text-align: justify;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: calc(50px + 38px);
}
would make the back

[2020-12-24 07:17] ahmadabdolsaheb commented on #105
So the reason that the background is blue is because we are not loading the background/animation for small screens to save data.

[2020-12-29 04:26] huyenltnguyen opened #111 "Footer image is misplaced when zooming in the tab"
Browser: Firefox 84
OS: Linux
Environment: Production and dev

Here is how it looks when I increase the zoom level to 133%.

![Screenshot from 2020-12-29 11-17-24](https://user-images.githubusercontent.com/25715018/103258527-eab54580-49c7-11eb-83e8-8e2cd101240e.png)

[2020-12-29 08:11] huyenltnguyen opened #112 "The app is consuming high CPU"
I checked the CPU consumption using the Task Manager feature on Firefox and found that our app is having very high CPU usage.

Here we have the local version being the most impactful, followed by the prod version. I also opened the Azuracast player for comparison.

![Screenshot from 2020-12-29 14-50-39](https://user-images.githubusercontent.com/25715018/103268393-f0218880-49e5-11eb-83ca-ae7724756f

[2020-12-29 08:32] huyenltnguyen commented on #80
So I was trying to check how frequently the audio drops in each env/app by opening these in each tab:
- Azuracast player (https://coderadio-admin.freecodecamp.org/public/coderadio)
- Code radio prod
- Code radio local

I let them all play in parallel and occasionally checked if the music stopped. I noticed that the music seems to stop at the same time in all tabs, and I could reproduce it multiple

[2020-12-29 10:22] ahmadabdolsaheb commented on #80
Thanks for looking into this. It could be that the browser shuts down background processes once it reaches a certain threshold. Were they all in the same browser?

[2020-12-30 01:58] huyenltnguyen commented on #80
Yeah I opened them in the same browser window.

It is hard to tell the root cause of this issue, but I think I will try to find way for performance optimization first and see if it helps improve anything.

[2021-01-11 03:24] ahmadabdolsaheb opened #120 "Player does not default to relay streams on initial load on mobile"
Experienced this issue on ios

[2021-01-11 10:56] ahmadabdolsaheb commented on #112
Additionally we could unmount the visualizer when the app in a background tab using libraries such as if visible. serkanyersen.github.io/ifvisible.js/demo.html

[2021-01-11 20:01] Ismailtlem commented on #105
Hi,

Would removing the animation for small screens be an acceptable solution ?

[2021-01-11 21:12] ahmadabdolsaheb commented on #105
Yes, we are already removing the animation and the background image for small screen since the animation is a large file.

[2021-01-13 21:21] Ismailtlem commented on #105
Hi,

I tried to push some code but I get a permission error
![image](https://user-images.githubusercontent.com/34961373/104511789-8d3b0e80-55ed-11eb-99c3-3e414df27736.png)

Are PR blocked ?

[2021-01-16 09:24] Ismailtlem commented on #105
Any feedback about the solution proposed in the PR #121  ?

[2021-01-16 17:59] huyenltnguyen commented on #112
One possibility of the cause is WebSocket connection. Here is what I found from the MDN article about CPU usage and background tabs (https://developer.mozilla.org/en-US/docs/Web/API/Page_Visibility_API#policies_in_place_to_aid_background_page_performance)

[2021-01-18 08:56] #120 closed

[2021-01-23 13:37] ahmadabdolsaheb opened #126 "Player does not stop on mobile"
Although the tapping the play button starts the music, taping it again does not stop the music.

ios: 14.3
browser: 87.0.4280.77

[2021-01-23 14:20] ahmadabdolsaheb commented on #112
After the tab optimizations for the visualization and the footer we are getting around 0.2;
![image](https://user-images.githubusercontent.com/4591597/105580345-e3057880-5d9c-11eb-8486-a6c29538111a.png)

Although removing footer and main components completely lowers cpu usage by 50% on chrome task manager, it barely changes anything on firefox;

https://github.com/freeCodeCamp/coderadio-client/pul

[2021-01-24 14:35] Ismailtlem commented on #29
Hi,
From what I can see on the render function of the App component, I don't think that there is something that can be put into a separate component (or maybe I am wrong ..)

[2021-01-24 15:02] Ismailtlem commented on #30
Should the PR contain all the the tests of all the components ? How deep the tests should be?
I don't see in the package.json file any mention of the test runner used. Should we add it ? I suppose at least jest is used in this project

[2021-01-25 17:32] ojeytonwilliams commented on #30
Hi @Ismailtlem. There's no need to create one massive PR - it's easier to review lots of small, focused ones.  A PR per component would be reasonable.

I'm not sure I follow, could you clarify a little?  @ahmadabdolsaheb can correct me, but I think we just want to make isolated tests of the components' functionality.

Yes, that's correct. This was built using Create React App and so `react-scripts

[2021-01-26 10:11] ojeytonwilliams commented on #29
I agree with @Ismailtlem. The App component is looking good now, thanks to @huyenltnguyen's contributions.

If anyone strongly objects, please feel free to reopen this, but I think the issue is resolved.

[2021-01-26 10:11] #29 closed

[2021-01-26 16:09] ojeytonwilliams commented on #126
It does behave as expected on
Android: 7.0
Chromium: 88.0.4324.96

[2021-01-27 07:58] ahmadabdolsaheb commented on #30
Thanks for your query @Ismailtlem, I think @ojeytonwilliams direction makes sense.

Also, @ojeytonwilliams, what do you think about the feasibility of adding e2e testing to coderadio?

[2021-01-27 13:38] ojeytonwilliams commented on #30
Sure, I've created https://github.com/freeCodeCamp/coderadio-client/pull/127 for the basic setup.

[2021-01-28 10:41] ahmadabdolsaheb commented on #30
@Ismailtlem, we could add cypress tests to check coderadio's functionality. Some general button tests such as play/pause should be a good start.

[2021-01-30 12:35] huyenltnguyen commented on #126
This might sound strange, but do you think it would work if we change our 'div' button to a real `<button>`?

https://github.com/freeCodeCamp/coderadio-client/blob/ecd8e83466b9d22d460162bd4225a35a23c62cca/src/components/PlayPauseButton.js#L35-L46

I don't understand HTML very well, but I believe the `button` element itself has some default behaviors built-in, which might be missing from the `div`

[2021-01-30 13:40] Ismailtlem commented on #30
@ahmadabdolsaheb  (y)

[2021-02-01 08:49] ahmadabdolsaheb commented on #126
Yes, that makes sense @huyenltnguyen, and it would be more accessible.

[2021-02-01 12:24] ahmadabdolsaheb commented on #112
@huyenltnguyen should we close this. It seems like the cpu usage of the production app has been considerably reduced.

[2021-02-01 14:51] huyenltnguyen commented on #112
Yeah sure. Thanks for the help!

[2021-02-01 14:51] #112 closed

[2021-02-02 12:32] ahmadabdolsaheb opened #129 "Player plays the wrong song after a long pause"
If the player is paused for a while (30min) and unpaused, it will play song a; however if the page is refreshed the player is updated and it will play song b.

[2022-03-26 18:14] renovate[bot] opened #246 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Pending Approval

These branches will be created by Renovate only once you click their checkbox below.

 - [ ] chore(deps): update actions/checkout action to v3
 - [ ] chore(deps): update dependency cypress to v9
 - [ ] chore(deps): update dependency eslin